.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

.item {
	padding: 10px;
	margin-bottom: 5px;
	background-color: #b1aeae;
	border-radius: 6px;
	width: 35rem;
	display: flex;
	align-items: center;
}

.item > label {
	flex-grow: 1;
}

.item svg {
	width: 48px;
	min-width: 48px;
	height: 36px;
	color: steelblue;
	cursor: pointer;
}

.item svg:focus,
.item svg:hover {
	color: red;
	outline: none;
}

.item input[type='checkbox'] {
	height: 28px;
	width: 28px;
	text-decoration: underline;
}

header,
footer {
	background-color: mediumblue;
	padding: 0.5rem;
	text-align: center;
	color: #fff;
}

footer {
	padding: 0.3rem;
	margin-top: auto;
}
